body {
	margin-left: 20px;
	margin-top: 20px;
}

h1 {
	font-family: "PT Sans Narrow", Arial;
	font-weight: normal;
}

h2 {
	font-family: "PT Sans Narrow", Arial;
	font-weight: bold;
	font-size: 25px;
	padding-left: 15px;
}

h3 {
	font-family: "PT Sans", Arial;
	font-weight: bold;
	font-size: 18px;
	padding-left: 15px;
	margin-top:0;
	color:#f4f4f4;
}

p {
	font-family: "PT Serif", Georgia;
	padding-left: 20px;
	margin-bottom: 40px;
}

a:link {
    text-decoration: none;
		color: #0b4572;
}

a:visited {
    text-decoration: none;
		color: #0b4572;
}

a:hover {
    text-decoration: underline;
		color: #2f8fce;
		cursor: pointer;
}

a:active {
    text-decoration: underline;
		color: #2f8fce;
}

.download {
	border: 3px solid #2f8fce;
	padding: 5px;
	margin-top: 20px;
	margin-right: 10px;
}